body {
    padding: 50px;
}

/* Note is in C:\react\JavaScriptAnimation.txt */

.box {
    display: inline-block;
    background: pink;
    width: 200px;
    height: 200px;
    position: relative;

    /*animation: myframe 2s ease-in-out 0s infinite;*/

    /*animation: [name] [duration] [timing-function] [delay] [iteration-count] [direction] [fill-mode] [play-state]*/
    animation-name: myframe;
    /*animation-duration: 2s;*/
    animation-duration: 300ms;
    animation-timing-function: ease-in-out;
    animation-delay: 0s;
    /*animation-iteration-count: infinite;*/
    animation-iteration-count: 1;
    animation-direction: normal;
    animation-fill-mode: forwards;
    /*animation-play-state: running;*/
}
.box.ispaused {
    animation-play-state: paused;
}

@keyframes myframe {
    0% {
        transform: scale(0);
        opacity: 0; /* you don't have to have opacity, it just make fade in-out looks nicer */
    }
    100% {
        transform: scale(1);
        opacity: 1;
    }
}
