nav {
  padding: 50px;
  text-align: center;

  ul {
    list-style: none;
    padding: 0;
    margin: 0;
    display: inline-block;
    background: #ddd;
    border-radius: 5px;

    li {
      float: left;
      width: 150px;
      height: 65px;
      line-height: 65px;
      position: relative;
      text-transform: uppercase;
      font-size: 14px;
      color: rgba(0, 0, 0, 0.7);
      cursor: pointer;
      &:hover {
        background: #d5d5d5;
        border-radius: 5px;
      }
    }
  }
}

ul.drop-menu {
  position: absolute;
  top: 100%;
  left: 0%;
  width: 100%;
  padding: 0;

  li {
    background: #666;
    color: rgba(255, 255, 255, 0.7);

    &:hover {
      background: #606060
    }

    &:last-child {
      border-radius: 0px 0px 5px 5px;
    }
  }
}


// Default Trigger

ul.drop-menu li {
  display: none; // HIDE
}

li:hover > ul.drop-menu li {
  display: block; // SHOW
}

// MENU 1 ---------------
// Make it like they all rotate at the same time, but each one slower than their previous one.
li:hover > ul.drop-menu.menu-1 {
  perspective: 1000px;

  li {
    opacity: 0;

    /*
    animation: {
      name: menu1;
      //duration: 300ms;
      duration: 2s;
      timing-function: ease-in-out;

      // you need to have this because animation-fill-mode by default is none, meant i will jump to the state
      // of no animation, in our case, it will be background: #d5d5d5; (line 24) if you continue to hover on the "Style 1" header
      // We want it to stay at the end state, which we will use forward
      fill-mode: forwards;
    };
    */

    @for $i from 1 through 6 {
      &:nth-child(#{$i}) {
        animation: {
          name: menu1;
          duration: 300ms * $i;
          timing-function: ease-in-out;
          fill-mode: forwards;
        }
      }
    }

  }
}

// MENU 11 ---------------
// Make it like it rotate at the same speed but each one delays a bit from the previous one
li:hover > ul.drop-menu.menu-11 {
  perspective: 1000px;
  li {
    opacity: 0;
    @for $i from 1 through 6 {
      &:nth-child(#{$i}) {
        animation: {
          name: menu1;
          duration: 300ms;
          delay: (150ms * $i) - 300ms;
          timing-function: ease-in-out;
          fill-mode: forwards;
        }
      }
    }

  }
}

// Make it like it rotate upward into the place
@keyframes menu1 {
  0% {
    opacity: 0;
    transform: rotateY(-90deg) translateY(30px);
  }
  100% {
    opacity: 1;
    transform: rotateY(0deg) translateY(0px);
  }
}


// MENU 2 ---------------
// Make it like it flipping one by one in x-axles in the middle of the card
li:hover > ul.drop-menu.menu-2 {
  perspective: 1000px;
  li {
    opacity: 0;
    @for $i from 1 through 6 {
      &:nth-child(#{$i}) {
        animation: {
          name: menu2;
          duration: 300ms;
          delay: (150ms * $i) - 300ms;
          timing-function: ease-in-out;
          fill-mode: forwards;
        }
      }
    }

  }
}

// MENU 22 ---------------
// Make it like it unfolding one by one (pivot from the top)
li:hover > ul.drop-menu.menu-22 {
  perspective: 1000px;
  li {
    opacity: 0;
    transform-origin: top center;
    @for $i from 1 through 6 {
      &:nth-child(#{$i}) {
        animation: {
          name: menu2;
          duration: 300ms;
          delay: (150ms * $i) - 300ms;
          timing-function: ease-in-out;
          fill-mode: forwards;
        }
      }
    }

  }
}

@keyframes menu2 {
  0% {
    opacity: 0;
    transform: rotateX(-90deg);
  }
  60% { // I think it looks better without flipping pass 0deg.
    transform: rotateX(50deg);
  }
  100% {
    opacity: 1;
    transform: rotateX(0deg);
  }
}


// MENU 3 ---------------
// Make it pop on size
li:hover > ul.drop-menu.menu-3 {
  perspective: 1000px;
  li {
    opacity: 0;
    @for $i from 1 through 6 {
      &:nth-child(#{$i}) {
        animation: {
          name: menu3;
          duration: 300ms;
          delay: (150ms * $i) - 300ms;
          timing-function: ease-in-out;
          fill-mode: forwards;
        }
      }
    }
  }
}

@keyframes menu3 {
  0% {
    opacity: 0;
    transform: scale(0.3) translateY(-60px);
  }
  80% {
    transform: scale(1.2) translateY(10px);
  }
  100% {
    opacity: 1;
    transform: scale(1) translateY(0px);
  }
}
































































